/* styles.css */

/* Background for the entire app */
body {
  background-color: blueviolet;
  /* Bright pink background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Timer styling */
#timer-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.timer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ca2d7e;
  /* Bright red timer background */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  /* White text color */
}

/* Question and options styling */
.question-container {
  background-color: #84a1c3;
  /* Vibrant orange background for questions */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
  font-size: 24px;
  color: #0b3c5d;
  border: solid 1px 0px 0px 0px #9b2854;
  /* Bright pink text color */
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-button {
  background-color: #dab0bb;
  /* Pinkish background for buttons */
  color: #0b3c5d;
  /* White text color */
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(255, 102, 178, 0.2);
}

.option-button:hover {
  background-color: #9b2854;
  /* Darker pink on hover */
  box-shadow: 0 4px 6px rgba(255, 102, 178, 0.4);
}

/* "S" at the bottom center */
#s {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #ffcc00;
  /* Vibrant orange text color */
}

/* Play Game button styling */
.play-game-button {
  background-color: #ff9933;
  /* Orange background for the play game button */
  color: #0b3c5d;
  /* White text color */
  font-size: 20px;
  padding: 10px 20px;
  border: solid color rebeccapurple;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.play-game-button:hover {
  background-color: #ff6600;
  /* Darker orange on hover */
}

.q {
  color: #0b3c5d;
}